@model Tarea3BD1.Models.LoginViewModel

<style>
    .form-group {
        margin-top: 10px;
    }
</style>

@if (TempData["MensajeError"] != null)
{
    <div class="alert alert-danger">
        @TempData["MensajeError"]
    </div>
}

<div class="container loginForm">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3>Login - Bases de Datos I</h3>
                    <h4>3 Proyecto - Tarjetas</h4>
                </div>
                <div class="card-body">
                    <form asp-action="Login" asp-controller="Account" method="post">
                        <div class="form-group">
                            <label asp-for="Username"></label>
                            <input asp-for="Username" class="form-control" />
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password"></label>
                            <input asp-for="Password" class="form-control" type="password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
